div#admin {
  .asideBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;
    padding-top: 50px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 200px;
    width: 100%;
    height: 100%;
    border-right: 1px solid $corGray;

    .brand {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .avatar {
        margin: 2rem;
        height: 100px;
        width: 100px;
        background-color: aqua;
        border-radius: 50%;
        border: 2px solid $corDark;
      }
      .dash {
        display: flex;
        align-items: center;
        // color: $corDark;
        .iconBoard {
          font-size: 3rem;
          margin-right: 10px;
        }
      }
    }

    ul span {
      // text-align: center;
      display: inline-block;
      text-transform: uppercase;
      color: $corPrimaria;
      font-weight: 700;
      width: 100%;
    }
    ul li {
      margin: 10px 0;
      margin-left: 2rem;
      display: block;
    }
    ul li a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      color: $corLink;
      font-weight: 300;

      &:hover {
        color: $corPrimaria;
      }
      .icon,
      .iconBoard {
        // color: $corDark;
        font-size: 2rem;
        margin-right: 10px;
      }
    }
  }

  .conteudo {
    // gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 250px;
    width: calc(100% - 200px);
    left: 200px;
    // width: 100%;
    position: relative;
    background-color: $corWhite;

    .navBar {
      // height: 100%;
      border-bottom: 1px solid $corGray;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navBar {
          height: 100px;
        }

        .perfil {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 2rem;
          .avatar-1 {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: aqua;
            margin: 0 2rem 0 0;
          }
          .name {
            margin-right: 2rem;
          }
        }
      }
    }
    nav{
      grid-column-start: 1;
      grid-column-end: 3;
      // grid-row-start: 1;
    }
    main{
      // grid-column: 1/3;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      background-color: blue;
      min-height: 100vh;
    }
    aside{
      position: fixed;
      top: 0;
      right: 0;
      grid-column-start: 4;
      // grid-column-end: 4;
      grid-row-start: 1;
      // width: 100%;
      height: 100%;
      // width: 200px;
      background-color: red;
    }
  }
}
