$color-primary: #01038A;
$secondary: #047aed;

$white : #fff;
$white-gray: #f4f4f4;


section.busca{
  position: relative;
  // background-color: $secondary;
  // background-image: url('https://d39l2hkdp2esp1.cloudfront.net/img/photo/148376/148376_00_2x.jpg');
  background-image: url("https://plc.pearson.com/sites/pearson-corp/files/styles/desktop/public/pearson/our-company/company-banner.jpg?itok=EokCnOZp");
  background-position:   bottom;
  background-size: cover;
  background-repeat: no-repeat;

  .overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  .min-container{
    position: relative;
    z-index: 100;
    min-height: 20vh;
    h1{
      margin: 25px ;
      font-weight: normal;
      color: $white;
      text-align: center;
      text-transform: capitalize;
    }
    .form-busca{
      background-color: #01038A;
      .form-control{
        input{
          height: 40px;
          width: 100%;
          padding-left: 15px ;

        }
      }
    }

  }
}


