@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
@import "./navbar.scss";
@import "./buttons.scss";
@import "./home.scss";
@import "./empresas.scss";
@import "./empresa.scss";
@import "./footer.scss";
@import "./acesso.scss";
@import "./details-empresa.scss";

$color-primary: #01038A;
$secondary: #047aed;

:root{


    font-size: 62.5%;
}

*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}
.hight{
  min-height: 70vh;
}

html,body{
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body{
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #f4f4f4;
}
.active a{
    color: #047aed;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.padding{
  padding: 70px 0;
}

.padding-20{
  padding: 20px 0;
}
.container{
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1440px;
}
.min-container{
  margin: 0 auto;
  padding: 0 2%;
  max-width: 600px;

}
// Comeaca o nav

a{
  text-decoration: none;
  color: #ccc;
  line-height: 1.5;
  transition: all ease-in 0.2s;
}
h1, 
h2,
h3,
h4,
h5,
h6{
  line-height: 1.5;
  margin: .5rem 0;
  font-size: 2rem;
  color: #424242;
  display: block;
}
p{
  line-height: 1.5;
  font-size: 1.6rem;
  color: #787878;
  padding: 0;
  margin: 0 auto;
  
}
ul, li{
  list-style: none;
  transition: all ease-in 0.3s;

}



img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input{
  outline: none;
  border: 0;
  transition: all ease-in-out 0.2s;
}

// Comeaca o nav


// centralizacao dos 

.top{
  margin: 5rem 0;
}
button{
  cursor: pointer;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: all 0.2s;
  display: inline-block;
  font-size: 1.8rem;
}


// configuracao global para o heading

.title{
  margin-bottom: 3.6rem;
  font-size: 3rem;
  font-weight: 400;
  color:#424242;

  span{
    color: #01038A;
  }
}