section.hero{
  background:linear-gradient(94deg, rgba(0,0,0,0.5) 0%, rgba(82,85,251,0.25253851540616246) 100%), url("../public/image/HERO.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
  position: relative;

  .hero-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  h1{
    top: -100px;
    max-width:400px;
    font-size: 3.6rem;
    color: #fff;
    margin-bottom: 3rem;
    z-index: 100;

    span{
      color: #047aed;
      // color: #01038A;
    }
  }

}