section.hero{
  // margin-top: 1.9rem;
  background:linear-gradient(94deg, rgba(0,0,0,0.5) 0%, rgba(82,85,251,0.25253851540616246) 100%), url("../public/image/HERO.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(96vh - 100px);
  position: relative;
  z-index: 1;

  .hero-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
  }

  h1{
    top: -60px;
    max-width:500px;
    font-size: 3.6rem;
    color: #fff;
    margin-bottom: 3rem;
    z-index: 100;

    span{
      color: #047aed;
    }
  }

}
section.barra{
  height: 70px;
  background-color: #01038A;
  .barra-flex{
    display: flex;
    align-items: center;
    height: 100%;
  }

  .info-barra{
    margin-right: 50px;
    color: #fff;
  }
}

section.dicas{
  padding: 70px 0;
  // border-bottom: 2px solid #999;
  // background: linear-gradient(180deg, rgba(1, 3, 138, 0.33) 0%, rgba(4, 122, 237, 0.4) 100%);
  // background: linear-gradient(180deg, rgba(1, 3, 138, 0.72) 0%, rgba(4, 122, 237, 0.4) 100%);
  background-color: #D6D6F4;

  h1.title-dicas{
    margin-bottom: 3.6rem;
    margin-left: 20rem ;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

  

    span{
      color: #383BFF;
    }
  }

  .info-dicas{
    
    h3.title3{
      color: #fff;
    }

    p{
      color: #fff;
    }
  }
  .imagens{
    
    img{
      display: block;
      max-width: 100%;
    }
  }

  .grid{
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr ;
    gap: 30px;
    height: 100%;
  }
  .box-grid{
    position: relative;
    display: grid;

    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100%;
  }
  .box-dicas{
    .info-dicas{
      width: 80%;
    }
  }
}

.luta{
margin-top: 100px;
}

section.ipo{
  text-align: center;
  h2.title{
    margin: 5.6rem auto;
    font-size: 3rem;
    max-width: 600px;
    font-weight: 300;
    text-align: center;
    // color: #fff;
    span{
      color: #383BFF;
    }
  }
  h3{
    margin:  1.9rem 0;
  }

  div > .box-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .circ{
    width: 33.33%;
    text-align: center;

  }
}


// Estilos da area aplicar

section.aplicar{
  border-bottom: 1px solid #383BFF;

  .flex-aplicar{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    // justify-content: center;
    // align-items: center;
    height: 100%;
    
  }
 
.texto{
  text-align: center;
  h2.h2{
    margin: 3.6rem auto;
    font-size: 3rem;
    max-width: 500px;
    font-weight: 300;
    text-align: center;
    span{
      color: #383BFF;
    }
  }

  p.description{
    width: 600px;
  }
}
  .image-aplicar{
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    .img-aplicar{
      width: 300px;
      margin: 0 3px;
      display: inline-block;
      
      img{
        border-radius: 1rem;
      }
    }
 
  }
}

// Aqui vai os estilos da area investir
section.investir{
  // background-color: #047aed;
  // background: linear-gradient(180deg, rgba(4, 122, 237, 0.52) 0%, rgba(4, 122, 237, 0.4) 100%);
  background: linear-gradient(180deg, rgba(1, 3, 138, 0.33) 0%, rgba(4, 122, 237, 0.4) 100%);
  
  .container{
    display: flex;
    flex-direction: column ;
    align-items: center;
    
    .financiamento{
      margin: 4rem 0;
      display: flex;
      flex-direction: column ;
      align-items: center;
      height: 100%;
      h3,p,h1{
        // color: #fff;
        margin-bottom: 3rem;
      }
     
      .financ-details{
        display: flex;
        height: 100%;
        .financ-box{
          width: 350px;
          height: 100%;
          background-color: #fff;
        }
      }
    }
  }
}





// estilos para section empresas

section.empresas{
  border-bottom: 1px solid #383BFF;
  .container{
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    // border-bottom: 1px solid #01038A;
    
    .box-company{
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      gap: 10px;
      height: inherit;
    }
  }
}


// section de gerenciamento

section.processo{
  
  border-bottom: 1px solid #383BFF;
  .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40vh;
    // height: 100%;
    gap: 25px;
    
    
    .text-left{
      text-align: center;
      max-width: 600px;
    }
    .proce-image{
      border-bottom: 6px solid #383BFF;
      position: absolute;
      // position: relative;
      top: -86px;
      right: 99px;

      .image{
      }
    }
  }
}


// Area de+ Nossos parceiros 

section.parceiros{
  background-color: #01038A;
  h1.title{
    text-align: center;
    color: #fff;
  }
  .min-container{
    display: flex;
    align-items: center;
    justify-content: center;
    grid:50px ;
    height: 100%;
    overflow: hidden;
    .parce-slader{
      margin: 0 15px;
      max-width: 50px;
    }

    .parce-slader:first-child{
      margin-left: 0;
    }
  
  }
}


// Testimonials

section.testemunho{

  .title{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
  // background-color: #01038af0;
  background-color: #000036f0;
  .min-container{
    max-width: 760px;
    // background-color: #ff8181f0;
    border-radius: 15px;
    margin: 10px auto;
    padding: 30px 30px;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);

    .progress-bar{
      height: 4px;
      background-color: #fff;
      width: 100%;
      animation: barra 10s linear infinite;
      transform-origin: left;
    }

    @keyframes barra {
      0%{
        transform: scaleX(0);
      }
    }

    .testimonial{
      line-height: 1.5;
      color: #fff;
      margin: 1rem 0;
      text-align: justify;
    }
    .card{
      display: flex;
      justify-content: center;
      align-items: center;

      .card-image{
        border-radius: 100%;
        height: 75px;
        width: 75px;
        object-fit: cover;
      }
    }

    .user-details{
      margin-left: 23px;
      color:  #fff;
      .username{
        margin:  2px 0;
        color:  #fff;
      }
      .role{
        color:  #fff;
        margin: 1px 0;
      }
    }
  }

}

// area de actualizacoes de informacoes

section.news-lether{
  background-color: #383BFF;
  text-align: center;
  .min-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  h1.title{
    color: #fff;
  }
  .form{
    width: 700px;
    .form-control {
      margin: 2rem 0;
      input{
        width: 100%;
        height: 50px;
        padding-left: 1rem ;

      }
    }

  }

  }
}