@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");
.header {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
  position: fixed;
  border-bottom: 2px solid #047aed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header .nav-flex {
  justify-content: space-between;
}
.header .navbar .logo {
  margin-right: 30px;
}
.header .navbar .menu li {
  margin-right: 10px;
  border-bottom: 1px solid transparent;
  transition: all ease-in 0.2s;
}
.header .navbar .menu li:hover {
  border-bottom: 1px solid #047aed;
}
.header .navbar .menu li a {
  color: #333;
  padding: 10px 10px;
}

.btn {
  display: inline-block;
  padding: 1rem 5rem;
  border: 0;
  font-size: 1.8rem;
  font-weight: 300;
  border-radius: 3rem;
  margin-right: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  height: 100%;
  transition: all 0.2s;
}

button.reset a {
  padding: 0;
  margin: 0;
  color: #fff;
  line-height: 0;
}

.btn-primary {
  color: #fff;
  background-color: #01038A;
}
.btn-primary:hover {
  background-color: #047aed;
}

section.hero {
  background: linear-gradient(94deg, rgba(0, 0, 0, 0.5) 0%, rgba(82, 85, 251, 0.2525385154) 100%), url("../public/image/HERO.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(99vh - 61px);
  position: relative;
}
section.hero .hero-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}
section.hero h1 {
  top: -60px;
  max-width: 500px;
  font-size: 3.6rem;
  color: #fff;
  margin-bottom: 3rem;
  z-index: 100;
}
section.hero h1 span {
  color: #047aed;
}

section.barra {
  height: 70px;
  background-color: #01038A;
}
section.barra .barra-flex {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}
section.barra .info-barra {
  margin-right: 50px;
  color: #fff;
}

section.dicas {
  padding: 70px 0;
}
section.dicas .title {
  margin-bottom: 3.6rem;
  margin-left: 20rem;
  font-size: 3rem;
  font-weight: 300;
}
section.dicas .title span {
  color: #01038A;
}
section.dicas .imagens img {
  display: block;
  max-width: 100%;
}
section.dicas .grid {
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 30px;
  height: 100%;
}
section.dicas .box-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100%;
}
section.dicas .box-dicas .info-dicas {
  width: 80%;
}

.luta {
  margin-top: 70px;
}

section.ipo {
  text-align: center;
}
section.ipo h2.title {
  margin: 5.6rem auto;
  font-size: 3rem;
  max-width: 600px;
  font-weight: 300;
  text-align: center;
}
section.ipo h2.title span {
  color: #01038A;
}
section.ipo h3 {
  margin: 1.9rem 0;
}
section.ipo div > .box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.ipo .circ {
  width: 33.33%;
  text-align: center;
}

section.aplicar .flex-aplicar {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
section.aplicar .texto {
  text-align: center;
}
section.aplicar .texto h2.h2 {
  margin: 3.6rem auto;
  font-size: 3rem;
  max-width: 500px;
  font-weight: 300;
  text-align: center;
}
section.aplicar .texto h2.h2 span {
  color: #01038A;
}
section.aplicar .texto p.description {
  width: 600px;
}
section.aplicar .image-aplicar {
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
}
section.aplicar .image-aplicar .img-aplicar {
  width: 300px;
  margin: 0 3px;
  display: inline-block;
}
section.aplicar .image-aplicar .img-aplicar img {
  border-radius: 1rem;
}

section.empresa {
  position: relative;
  padding: 70px 0;
  margin-top: 7.1rem;
  background-color: red;
}

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

.hight {
  min-height: 70vh;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.active a {
  color: #047aed;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.padding {
  padding: 70px 0;
}

.container {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1440px;
}

a {
  text-decoration: none;
  color: #ccc;
  line-height: 1.5;
  transition: all ease-in 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  margin: 0.5rem 0;
  font-size: 2rem;
  color: #424242;
  display: block;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  color: #787878;
  padding: 0;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top {
  margin: 5rem 0;
}

/*# sourceMappingURL=globals.css.map */
