@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");
.header {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
  position: fixed;
  border-bottom: 2px solid #047aed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header .nav-flex {
  justify-content: space-between;
}
.header .navbar .logo {
  margin-right: 30px;
}
.header .navbar .menu li {
  margin-right: 10px;
  border-bottom: 1px solid transparent;
  transition: all ease-in 0.2s;
}
.header .navbar .menu li:hover {
  border-bottom: 1px solid #047aed;
}
.header .navbar .menu li a {
  color: #333;
  padding: 10px 10px;
}

.btn {
  padding: 1rem 5rem;
  border: 0;
  font-weight: 300;
  border-radius: 3rem;
  margin-right: 1.6rem;
  height: 100%;
}

button.reset a {
  padding: 0;
  margin: 0;
  color: #fff;
  line-height: 0;
}

.btn-primary {
  color: #fff;
  background-color: #01038A;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #047aed;
  transform: translateY(-2px);
}

.secondary {
  border: 1px solid transparent;
}
.secondary:hover {
  color: #fff;
  border: 1px solid #fff;
}

section.hero {
  background: linear-gradient(94deg, rgba(0, 0, 0, 0.5) 0%, rgba(82, 85, 251, 0.2525385154) 100%), url("../public/image/HERO.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(99vh - 61px);
  position: relative;
  z-index: 1;
}
section.hero .hero-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}
section.hero h1 {
  top: -60px;
  max-width: 500px;
  font-size: 3.6rem;
  color: #fff;
  margin-bottom: 3rem;
  z-index: 100;
}
section.hero h1 span {
  color: #047aed;
}

section.barra {
  height: 70px;
  background-color: #01038A;
}
section.barra .barra-flex {
  display: flex;
  align-items: center;
  height: 100%;
}
section.barra .info-barra {
  margin-right: 50px;
  color: #fff;
}

section.dicas {
  padding: 70px 0;
  background: linear-gradient(180deg, rgba(1, 3, 138, 0.72) 0%, rgba(4, 122, 237, 0.4) 100%);
}
section.dicas h1.title-dicas {
  margin-bottom: 3.6rem;
  margin-left: 20rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
section.dicas h1.title-dicas span {
  color: #01038A;
}
section.dicas .info-dicas h3.title3 {
  color: #fff;
}
section.dicas .info-dicas p {
  color: #fff;
}
section.dicas .imagens img {
  display: block;
  max-width: 100%;
}
section.dicas .grid {
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 30px;
  height: 100%;
}
section.dicas .box-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100%;
}
section.dicas .box-dicas .info-dicas {
  width: 80%;
}

.luta {
  margin-top: 100px;
}

section.ipo {
  text-align: center;
}
section.ipo h2.title {
  margin: 5.6rem auto;
  font-size: 3rem;
  max-width: 600px;
  font-weight: 300;
  text-align: center;
}
section.ipo h2.title span {
  color: #01038A;
}
section.ipo h3 {
  margin: 1.9rem 0;
}
section.ipo div > .box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.ipo .circ {
  width: 33.33%;
  text-align: center;
}

section.aplicar {
  border-bottom: 1px solid #01038A;
}
section.aplicar .flex-aplicar {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
section.aplicar .texto {
  text-align: center;
}
section.aplicar .texto h2.h2 {
  margin: 3.6rem auto;
  font-size: 3rem;
  max-width: 500px;
  font-weight: 300;
  text-align: center;
}
section.aplicar .texto h2.h2 span {
  color: #01038A;
}
section.aplicar .texto p.description {
  width: 600px;
}
section.aplicar .image-aplicar {
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
}
section.aplicar .image-aplicar .img-aplicar {
  width: 300px;
  margin: 0 3px;
  display: inline-block;
}
section.aplicar .image-aplicar .img-aplicar img {
  border-radius: 1rem;
}

section.investir {
  background: linear-gradient(180deg, rgba(1, 3, 138, 0.33) 0%, rgba(4, 122, 237, 0.4) 100%);
}
section.investir .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.investir .container .financiamento {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
section.investir .container .financiamento h3, section.investir .container .financiamento p, section.investir .container .financiamento h1 {
  margin-bottom: 3rem;
}
section.investir .container .financiamento .financ-details {
  display: flex;
  height: 100%;
}
section.investir .container .financiamento .financ-details .financ-box {
  width: 350px;
  height: 100%;
  background-color: #fff;
}

section.empresas {
  border-bottom: 1px solid #01038A;
}
section.empresas .container {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
section.empresas .container .box-company {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
  height: inherit;
}

section.processo {
  border-bottom: 1px solid #01038A;
}
section.processo .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40vh;
  gap: 25px;
}
section.processo .container .text-left {
  text-align: center;
  max-width: 600px;
}
section.processo .container .proce-image {
  border-bottom: 6px solid #01038A;
  position: absolute;
  top: -86px;
  right: 99px;
}
section.parceiros {
  background-color: #01038A;
}
section.parceiros h1.title {
  text-align: center;
  color: #fff;
}
section.parceiros .min-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid: 50px;
  height: 100%;
  overflow: hidden;
}
section.parceiros .min-container .parce-slader {
  margin: 0 15px;
  max-width: 50px;
}
section.parceiros .min-container .parce-slader:first-child {
  margin-left: 0;
}

section.testemunho {
  background-color: rgba(1, 3, 138, 0.9411764706);
}
section.testemunho .min-container {
  max-width: 760px;
  background-color: rgba(255, 129, 129, 0.9411764706);
  border-radius: 15px;
  margin: 10px auto;
  padding: 30px 30px;
  position: relative;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
section.testemunho .min-container .progress-bar {
  height: 4px;
  background-color: #fff;
  width: 100%;
  animation: barra 10s linear infinite;
  transform-origin: left;
}
@keyframes barra {
  0% {
    transform: scaleX(0);
  }
}
section.testemunho .min-container .testimonial {
  line-height: 1.5;
  color: #fff;
  margin: 1rem 0;
  text-align: justify;
}
section.testemunho .min-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.testemunho .min-container .card .card-image {
  border-radius: 100%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}
section.testemunho .min-container .user-details {
  margin-left: 23px;
  color: #fff;
}
section.testemunho .min-container .user-details .username {
  margin: 2px 0;
  color: #fff;
}
section.testemunho .min-container .user-details .role {
  color: #fff;
  margin: 1px 0;
}

section.news-lether {
  background-color: #047aed;
  text-align: center;
}
section.news-lether .min-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
section.news-lether .min-container h1.title {
  color: #fff;
}
section.news-lether .min-container .form {
  width: 700px;
}
section.news-lether .min-container .form .form-control {
  margin: 2rem 0;
}
section.news-lether .min-container .form .form-control input {
  width: 100%;
  height: 50px;
  padding-left: 1rem;
}

section.empresa {
  position: relative;
  padding: 70px 0;
  margin-top: 7.1rem;
  background-color: red;
}

.hero-busca {
  padding: 30px 0;
  width: 100vw;
  height: 30vh;
  background-color: aqua;
}
.hero-busca .title {
  text-align: center;
  margin-bottom: 30px;
}
.hero-busca .form-busca {
  max-width: 500px;
  margin: 0 auto;
}
.hero-busca .form-busca .form-control {
  position: relative;
}
.hero-busca .form-busca .form-control input {
  width: 100%;
  padding-left: 15px;
}
.hero-busca .form-busca .form-control button {
  color: #fff;
  background-color: blue;
  position: absolute;
  font-size: 3rem;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 9px 15px;
  transition: all ease-in 0.2s;
}
.hero-busca .form-busca .form-control button:hover {
  background-color: blueviolet;
}

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

.hight {
  min-height: 70vh;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #f4f4f4;
}

.active a {
  color: #047aed;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.padding {
  padding: 70px 0;
}

.container {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1440px;
}

.min-container {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 600px;
}

a {
  text-decoration: none;
  color: #ccc;
  line-height: 1.5;
  transition: all ease-in 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  margin: 0.5rem 0;
  font-size: 2rem;
  color: #424242;
  display: block;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  color: #787878;
  padding: 0;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  outline: none;
}

.top {
  margin: 5rem 0;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: all 0.2s;
  display: inline-block;
  font-size: 1.8rem;
}

.title {
  margin-bottom: 3.6rem;
  font-size: 3rem;
  font-weight: 400;
  color: #424242;
}
.title span {
  color: #01038A;
}

/*# sourceMappingURL=globals.css.map */
